
#CV{
display: block;
margin: auto;
   
  }
  h1 {
    margin-top: 0%;
    text-align: center;
   font-style: italic;
  }
  h2 {
   text-align: center;
   font-style: italic;
   margin-bottom: 0px;
  }
#container {
display: flex;
justify-content: center;
max-height: 180px;
margin-bottom: 0;
margin-top: 0px;
gap: 80px;

}
#containerdl {
    margin-left: 5%;
    display: grid;
    grid-template-columns: auto 60%;
   padding: 0%;
   grid-template-rows: [row1-start] 25% [row1-end] 25% [third-line] 25% [last-line];
}
 dt {
    font-weight: bold;
 }
 #image1 {
    height: 17vh;
 }
 h3 {
    text-align: center;
    font-style: italic;
    margin-top: 30px;

 }
 #container2 {
    display: flex;
    gap: 25px; 
    justify-content: center;

    
}
p {
    text-align: center;
}
#github {
    font-weight: bold;
}